body, html {
	height: 100%;
	font-family: sans-serif;
	color: #676767;
}

body{
	overflow-x: hidden;

}

*{
	margin: 0px;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}


@media screen and (max-width: 2000px) {
	p {
		font-size: 1.2em;
	}
	.highlight{
		color: #9f449b;
		font-size: 1.9em;
	}	
	#buttonProjektleiter{
		font-size: 1.1em;
	}
}

@media screen and (max-width: 1500px) {
	p {
		font-size: 1.1em;
	}

	.highlight{
		color: #9f449b;
		font-size: 1.7em;
	}	
	#buttonProjektleiter{
		font-size: 1em;
	}
}


@media screen and (max-width: 1350px) {
	p {
		font-size: 1em;

	}
	.highlight{
		color: #9f449b;
		font-size: 1.5em;
	}	
	#buttonProjektleiter{
		font-size: 0.9em;
	}
}

@media screen and (max-width: 1250px) {
	p {
		font-size: 0.9em;
	}
	.highlight{
		color: #9f449b;
		font-size: 1.2em;
	}	
		#buttonProjektleiter{
		font-size: 0.9em;
	}

}

.container {
  width: 900px;
  margin: auto;
}

.nav {
  position: fixed;
  background: #fff;
  height: 80px;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 1000000;
}
.nav .logo {
  display: block;
  background: url('../img/logo.png') center center no-repeat;
  width: 230px;
  float: left;
  height: 107px;
  margin-top: -19px;
  background-color: white;
  padding-bottom: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px;
  -moz-box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
  box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
}
.nav ul {
  list-style: none;
  float: right;
}
.nav ul li {
  float: left;
  margin-left: 15px;
  line-height: 50px;
}
.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font: 18px Lato;
  font-weight: 300;
  color: #676767;
  padding: 10px 0;
}
.nav ul li a:hover {
  border-bottom: 3px solid #a2639f;
}
.nav ul li.active a {
  border-bottom: 3px solid #a2639f;
}
/***********
**** Einleitung
************/

.einleitung{
	position: relative;
	height: 950px;
	background-image: url("../agenturGrafiken/hintergrund_agentur2.png");
	background-position: top center;
  	background-repeat: no-repeat;
	background-size: 100%;
}

#henry1{
	width: 20%;
	position: absolute;
	top: 20%;

}

#sprechblaseEinleitung{
  top: 140px;
  width: 407px;
  position: absolute;
}

#pfeilUnten{
	max-width: 4%;
	position: absolute;
	left:46%;
	top: 87%;
}
.uebergang{
	position: relative;
	padding: 7.5%;
	max-width:100%;
	background-color: #eee;
}

.textUebergang{
	line-height: 1.5;
	text-align: center;
}


/***********
**** Projektleiter
************/

#webprojektleiter {
	  margin-top: 111px;
}


#projektleiter{
	padding: 3%;
	max-width:100%;
	position: relative;
}

#henry2{
	width: 25%;
	position: absolute;
	left: 100%;
	top:0%;
	z-index: 3000;

}

#sprechblasePhasenplan{
	display: none;
	height: 180px;
	width: 300px;
	background-image: url("../agenturGrafiken/sprechblase_Phasenplan.png");
	background-position: top center;
  	background-repeat: no-repeat;
  	background-size: 100% auto;
	position: absolute;
	left: 80%;
	z-index: 3001;
	padding-top: 20px;
	
}
.sprechblasenText{
	width: 200px;
	text-align: center;
	margin-left: 30px;
	margin-top:9px;
	line-height: 1.5;
}


#projektRahmen{
	display: inline-block;
	border: 5px dashed;
	padding: 2% 3.5% 2% 2%;
}

#phase{
  margin: 0 auto;

 }

.phase{
	margin: 0;
	float: left;
	padding: 0px;
	margin-right: 0px;
	cursor: pointer;
}
.phase li {  box-shadow: 5px 5px 40px #fff;
  position: relative; 
  text-indent: 30px;
  height: 140px;
  background-color: #9f449b;
  display: inline-block;
  /* Dirty IE Hack */
  zoom: 1;
  *display: inline;
  /* margin-right: 30px; Eliminated this */

  padding:  10px 10px 10px 20px;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 140px;

}


li.phase:first-child:after, li.phasePfeil:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-left: 30px solid #9f449b;
    border-bottom: 80px solid transparent;
    margin: -10px 90px 0 10px; 

}
li.phase:last-child:before, li.phasePfeil:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-top: 80px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 80px solid transparent;
    margin: -10px 0px 0 0px; 

}

li.phase:first-child {
    padding-left: 0px;
    margin-left: 0;
}
li.phase:last-child {
    padding-right: 30px;
}

li.phasePfeil {

  background-color: #9f449b; 
}
li.phasePfeil:after {
    border-left: 30px solid #9f449b; 
}

#pfeil1 li{
	z-index: 1005;

}
#pfeil2 li{
	z-index:1004;
}
#pfeil3 li{ 
	z-index:1003;
}
#pfeil4 li{
	z-index:1002;
}
#pfeil5 li{
	z-index:1001;
}

#dragHand{
	width: 4%;
	height: 30%;
	background-image: url("../agenturGrafiken/hand.png");
  	background-repeat: no-repeat;
	background-size: 100% auto;	
	position: absolute;
	z-index: 1200;
	top: 220px;
	left: 90px;
}

.phase li span{
	text-align: left;
	display: inline-block;
	width: 105px;
	margin-right: 10px;
}


.hintergrundZwischentext{
	position: relative;
	width: 100%;
	background-image: url("../agenturGrafiken/hintergrund_zwischentext.png");
	background-position: top center;
  	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

/*****
**** Projektleiter-Vorstellung
******/

#figurProjektleiter{
	position: absolute;
	top: 30%;
	left: 26%;
	width: 170px;

}

.sprechblase{
height: 368px;
  width: 540px;
  background-image: url("../agenturGrafiken/sprechblase_links.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 97% auto;
  position: absolute;
  margin-left: 15px;
  z-index: 3001;
}

.sprechblaseRechts{
	background-image: url("../agenturGrafiken/sprechblase_rechts.png");
	background-position: top center;
  	background-repeat: no-repeat;
  	background-size: 97% auto;
	position: absolute;
	z-index: 3001;
	padding-top: 20px;
}


.sprechblasenInhalt{
  text-align: center;
  line-height: 1.5;
  width: 411px;
  margin: 0px auto 0px 18%;
  padding-top: 7px;
}

.sprechblasenInhalt p {
	margin-bottom: 20px;
}

.sprechblasenInhaltRechts{
	text-align: center;
	line-height: 1.5;
	width: 430px;
	margin-left: -26px;
}

.sprechblasenInhaltRechts{
	padding-top: 7px;
}



.buttonProjektleiter {
  background: #9f449b;
  background-image: -webkit-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: -moz-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: -ms-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: -o-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: linear-gradient(to bottom, #9f449b, #6e2f6c);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;


	line-height: 1.5;
	text-align: center;
	margin-left: 255px;

}
.button2{
	background: #9f449b;
  background-image: -webkit-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: -moz-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: -ms-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: -o-linear-gradient(top, #9f449b, #6e2f6c);
  background-image: linear-gradient(to bottom, #9f449b, #6e2f6c);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;

	line-height: 1.5;
	margin-left: 120px;
}
.button2:hover{
	 background: #6e2f6c;
  background-image: -webkit-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: -moz-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: -ms-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: -o-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: linear-gradient(to bottom, #6e2f6c, #9f449b);
  text-decoration: none;
}
.buttonProjektleiter:hover {
  background: #6e2f6c;
  background-image: -webkit-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: -moz-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: -ms-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: -o-linear-gradient(top, #6e2f6c, #9f449b);
  background-image: linear-gradient(to bottom, #6e2f6c, #9f449b);
  text-decoration: none;
}



#henry4{
	width: 45%;
	top: 25%;
	position: absolute;
	z-index: 4000;

}

#projektleiterIcons{
	position: absolute;
	width: 25%;
	height: 300px;
	left:18%;
	top: 5%;
}

#projektleiterIcon1{
	position: absolute;
	top: 0%;
	left: 50%;
}

#projektleiterIcon2{
	position: absolute;
	top: 15%;
	left: 10%;
}
#projektleiterIcon3{
	position: absolute;
	top: 15%;
	left: 90%;
}
#projektleiterIcon4{
	position: absolute;
	top: 60%;
	left: 0%;
}
#projektleiterIcon5{
	position: absolute;
	top: 60%;
	left: 100%;
}
#projektleiterIcon7{
	position: absolute;
	top: 100%;
	left: 5%;
}
#projektleiterIcon8{
	position: absolute;
	top: 100%;
	left: 90%;
}

/****
*** Web designer
***/

#figurWebdesigner{
  width: 159px;
  position: absolute;
  top: 113px;
  right: 168px;
  z-index: 1000;
}

#webdesignerArbeitsplatz{

	position: absolute;
	left: 900px;
	top: 10px;
	background-image: url("../agenturGrafiken/webdesigner_arbeitsplatz.png");
	background-size: 35% auto;
    background-repeat: no-repeat;
    width: 1905px;
    height: 700px;
}


#henry5{
	width: 25%;
	position: absolute;
	z-index: 4000;
}

#henry6{
  position: absolute;
  z-index: 4000;
  top: 100px;
  width: 604px;
  margin-left: 119px;
}

#spalteLinks{
  width: 61px;
  height: 172px;
  background-color: #fff;
  position: absolute;
  top: 189px;
  left: 178px;
}

.spalteKlein{
	width:75px;
	height: 50px;
	margin-bottom: 11px;
	float: left;
	background-color: #fff;
}

#spalteMitteLinks{
	width: 77px;
	height: 166px;
	position: absolute;
	top: 189px;
	left: 249px;
}
#spalteMitteRechts{
  width: 77px;
  height: 166px;
  position: absolute;
  top: 189px;
  left: 334px;
}
#spalteRechts{
  width: 61px;
  height: 172px;
  background-color: #fff;
  position: absolute;
  top: 189px;
  left: 419px;
}

.clock{
	-moz-transform: scale(0.18); 
	-webkit-transform: scale(0.18); 
}

#farbfaecher area{
	cursor: cell;
}

.defaultSprechblase{
	z-index: 1000;
	width: 20%;
	height: 20%;
	background:url(../agenturGrafiken/sprechblase_teiloben.png) no-repeat left top,
	 		url(../agenturGrafiken/sprechblase_teilunten.png) no-repeat left bottom;
	background-size: 100% auto, 100% auto;

}

#sprechblaseDesigner{
  height: 300px;
  width: 539px;
  position: absolute;
  top: 91px;
  margin-left: -47px;
}

#sprechblaseDesigner p {
	margin-left: 10px;
	margin-bottom: 34px;
	width: 521px;
}

#sprechblaseDesignerKlein{
  height: 186px;
  width: 327px;
  position: absolute;
  top: 426px;
  margin-left: 78px;	
}



.sprechblaseKleinRechts{
	background-image: url("../agenturGrafiken/sprechblasekleinrechts.png");
	background-position: top center;
  	background-repeat: no-repeat;
  	background-size: 97% auto;
	position: absolute;
	z-index: 3001;
}


#sprechblasenInhaltKleinRechts{
  text-align: center;
  line-height: 1.5;
  width: 250px;
  margin-left: 16px;
  margin-top: 48px;
}

/*@media screen and (max-width: 2000px) {
   .clock{
		zoom: 0.2;
		-moz-transform: scale(0.2); 
	}
	.flip-clock-wrapper {
		top: 9.5% !important;
		left: -10.2% !important; 
	}
}
@media screen and (max-width: 1700px) {
   .clock{
		zoom: 0.2;
		-moz-transform: scale(0.2); 
	}
	.flip-clock-wrapper {
		top: 9.5% !important;
		left: -10.2% !important; 
	}
}
@media screen and (max-width: 1500px) {
   .clock{
		zoom: 0.18;
		-moz-transform: scale(0.18); 
	}
	.flip-clock-wrapper {
		top: 8.4% !important;
		left: -11.2% !important; 
	}
}

@media screen and (max-width: 1240px) {
   .clock{
		zoom: 0.16;
		-moz-transform: scale(0.16); 
	}
	.flip-clock-wrapper {
		top: 7.5% !important;
		left: -11.9% !important; 
	}
}
@media screen and (max-width: 1150px) {
   .clock{
		zoom: 0.15;
		-moz-transform: scale(0.15); 
	}
	.flip-clock-wrapper {
		top: 7% !important;
		left: -12.4% !important; 
	}
}
@media screen and (max-width: 1050px) {
   .clock{
		zoom: 0.14;
		-moz-transform: scale(0.14); 
	}
	.flip-clock-wrapper {
		top: 6.5% !important;
		left: -12.8% !important; 
	}
}*/

#display {
	position: absolute;
	margin-left: 400px;
	margin-top: 300px;
	z-index:8000;
	
}


/******
** Programmierer
******/

#henry8{
	width: 25%;
	position: absolute;
	z-index: 3000;
}

#henry7{
	width: 445px;
	right: 0;
	top: -211px;
	position: absolute;
	z-index: 4;
}
#entwickler{
	top: 20%;
	position: absolute;
	width: 14%;
}
#entwicklerArbeitsplatz{
	position: absolute;
	left: 335px;
	top: 186px;
	background-image: url("../agenturGrafiken/entwickler_arbeitsplatz.png");
	background-size: 50% auto;
	background-repeat: no-repeat;
	width: 1884px;
	height: 645px;
	padding-top: 632px;
}
#display1{
	overflow-y: scroll;
	width: 14.1%;
	height: 12.3%;
	left: 7.2%;
	top: 5%;
	position: absolute;
	font-size: 11px;
	color: #fff;
	padding: 5px
}
#display2{
  width: 17.6%;
  height: 14.8%;
  left: 21.3%;
  top: 16px;
  position: absolute;
  font-size: 11px;
  padding-left: 3%;
  padding-right: 3%;
}

.außen:nth-child(odd){
	float: left;
	width: 22%;
	height: 96%;
	background-color: #fff;
	text-align: center;
	padding-top:2%;
}
.außen:nth-child(even){
	float: right;
	width: 22%;
	height: 96%;
	background-color: #fff;
	text-align: center;
	padding-top: 2%;
}

.mitte:nth-child(odd){
	float: left;
	width: 47%;
	height: 30.6%;
	background-color: #fff;
	margin-bottom: 6%;
	margin-right: 6%;
	
}
.mitte:nth-child(even){
	float: right;
	width: 47%;
	height: 30.6%;
	background-color: #fff;
	margin-bottom: 6%;
}

.mitteWrapper{
	width: 50%;
	padding-left: 3%;
	padding-right: 3%;
	height: 95%;
	float: left;
}


#sprechblaseEntwickler {
	height: 254px;
	width: 488px;
	position: absolute;
	top: 109px;
	right: 0;

}

#sprechblaseEntwickler p {
  margin-left: 98px;
  margin-bottom: 34px;
  width: 399px;
}

#schriftTafel {
  height: 300px;
  width: 241px;
  position: absolute;
  top: 580px;
  margin-left: 1468px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#schriftTafel h2 {
  right: 102px;
  top: 29px;
  position: relative;
  z-index: 7;
}


/******
** Marketing
******/


#henry9{
	width: 25%;
	position: absolute;
	z-index: 3000;
}

#socialmediamanager{
  position: absolute;
  z-index: 3000;
  top: 200px;
  left: 90px;
  width: 380px;
}

#socialmediaArbeitsplatz{
  position: absolute;
  left: 523px;
  top: 237px;
  background-image: url("../agenturGrafiken/marketing_arbeitsplatz.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 750px;
  height: 600px;
}
#socialmediaIcons{
position: absolute;
  z-index: 3001;
  top: 70px;
  left: 241px;
  width: 412px;
}
#socialDisplay{
	position: absolute;
	width: 371px;
	height: 179px;
	top: 54px;
	left: 164px;
	z-index: 3002;
	font-size: 11px;
}

#sprechblaseSocialMedia {
  height: 307px;
  width: 520px;
  position: absolute;
  top: 95px;
  margin-left: 131px;

}

#sprechblasenInhaltSocialMedia {
	width: 375px;
	margin-left: 80px;
}

#sprechblasenInhaltSocialMedia .button2 {
	margin-left: 10px;

}

#henry11{
  width: 469px;
  top: 289px;
  position: absolute;
  z-index: 4000;
}



/******
** Analyse
******/

#henry12 {
  width: 300px;
  top: 329px;
  right: 411px;
  position: absolute;
  z-index: 4000;
}

#webanalyst {
  position: absolute;
  z-index: 3000;
  top: 190px;
  left: 129px;
  width: 340px;
}
  
  
#sprechblaseWebAnalyst {
  top: 140px;
  right: 0;
  width: 471px;
  height: 266px;
}
  
#bildschirmwand {
position: absolute;
  width: 700px;
  top: 140px;
  left: 482px;
}

#sprechblasenInhaltWebAnalyst {
text-align: center;
  width: 360px;
  margin-left: 81px;
  margin-top: 57px;
}

#sprechblasenInhaltWebAnalyst .button2 {
	margin-left: 25px;
}

/*---------------Footer----------------------------------*/
.footer {
    margin:40px 0 10px;
    text-align:center;
    font-size:13px;
    line-height:15px;
}
.footer a {
    text-decoration: none;
    color:#333;
}

#footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 400px;
  width: 100%;
  background: url("../img/footer_background.png") no-repeat;
  background-size: cover;
}

#footer_content {
  width: 1024px;
  margin: 0px auto;
}

#footer_logo {
  float: left;
}

#footer_logo img {
  width:200px;
  margin-top:255px;
  margin-left:70px;
}

#footer_navi {
  float: right;
  margin-top: 305px;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  font: 16px Lato;
  font-weight: 700;
}

#footer_navi a {
  color: #fff;
  font: 16px Lato;
  text-decoration: none;
  font-weight: 400;
}

#footer-zusatz {
  position: absolute;
  left: 42%;
  margin-top: 45px;
  color: #fff;
  font: 15px Existence;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
#footer-zusatz span {
  font-weight: 700;
}


