@font-face { 
	font-family: "Lato"; 
	src: url("../fonts/Lato-Light.ttf"); 
}
@font-face { 
	font-family: "Existence"; 
	src: url("../fonts/Existence-Light.ttf"); 
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body {
	background: #eee;
	padding-top: 80px;
}
.container {
	width: 900px;
	margin: auto;
}
.container:after, .job:after, .row:after {
	display: block;
	content: "";
	clear: both;
}
.row {
	width: 100%;
	display: table;	
}
.nav {
	position: fixed;
	background: #fff;
	height: 80px;
	padding: 15px 0;
	width: 100%;
	top: 0;
	z-index: 100;
}
.nav .logo {
  display: block;
  background: url('../img/logo.png') center center no-repeat;
  width: 230px;
  float: left;
  height: 107px;
  margin-top: -19px;
  background-color: white;
  padding-bottom: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px;
  -moz-box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
  box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
}
.nav ul {
	list-style: none;
	float: right;
}
.nav ul li {
	float: left;
	margin-left: 15px;
	line-height: 50px;
}
.nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font: 18px Lato;
	color: #676767;
	padding: 10px 0;
}
.nav ul li a:hover {
  border-bottom: 3px solid #a2639f;
}
.nav ul li.active a {
  border-bottom: 3px solid #a2639f;
}

.navi {
	height: 70px;
	width: 100%;
	background: #333;
	position: fixed;
	z-index: 1;
	padding: 10px;
	display: none;
	opacity: 0.75;
}
.navi .container {
	text-align: center;
}
.navi .icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 8px;
}
.navi .icon.management {
	background-image: url('../img/management-white.png');
}
.navi .icon.design {
	background-image: url('../img/design-white.png');
}
.navi .icon.technik {
	background-image: url('../img/technik-white.png');
}
.navi .icon.psychologie {
	background-image: url('../img/psychologie-white.png');
} 
.navi .icon.marketing {
	background-image: url('../img/marketing-white.png');
} 
.categories {
	padding: 150px 0;
	width: 100%;
	background-image: url('../img/pattern-index.png');
}
.category {
	display: block;
	width: 20%;
	text-align: center;
	text-decoration: none;
	font: 18px Existence;
	color: #676767;
	float: left;
}
.category .icon {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 20px auto;
	background-repeat: no-repeat;
}
.category .icon.management {
	background-image: url('../img/management.png');
}
.category:hover .icon.management {
	background-image: url('../img/management-aktiv.png');
}
.category .icon.design {
	background-image: url('../img/design.png');
}
.category:hover .icon.design {
	background-image: url('../img/design-aktiv.png');
}
.category .icon.technik {
	background-image: url('../img/technik.png');
}
.category:hover .icon.technik {
	background-image: url('../img/technik-aktiv.png');
}
.category .icon.psychologie {
	background-image: url('../img/psychologie.png');
}
.category:hover .icon.psychologie {
	background-image: url('../img/psychologie-aktiv.png');
}
.category .icon.marketing {
	background-image: url('../img/marketing.png');
}
.category:hover .icon.marketing {
	background-image: url('../img/marketing-aktiv.png');
}
.arrow-down {
	display: block;
	width: 60px;
	height: 60px;
	background: url('../img/arrow-down.png') center center no-repeat;
	margin: auto;
}
.categories .arrow-down {
	margin-top: 80px;
}
.group .header h2 {
	font: 50px Existence;
	color: #fff;
	text-transform: uppercase;
	line-height: 150px;	
}
.group.management .header {
	background: url('../img/pattern-management.png');
	height: 150px;
}
.group.design .header {
	background: url('../img/pattern-design.png');
	height: 150px;
}
.group.technik .header {
	background: url('../img/pattern-technik.png');
	height: 150px;
}
.group.psychologie .header {
	background: url('../img/pattern-psychologie.png');
	height: 150px;
}
.group.marketing .header {
	background: url('../img/pattern-marketing.png');
	height: 150px;	
}
.group .icon {
	display: block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	margin: 25px 40px 0 0;
	float: left;
}
.group.management .icon {
	background-image: url('../img/management-white.png');
}
.group.management .job {
	background: url('../img/pattern-management-white.png') no-repeat 0 10%;
	background-size: cover;
}
.group.design .icon {
	background: url('../img/design-white.png');
}
.group.design .job {
	background: url('../img/pattern-design-white.png') no-repeat;
	background-size: cover;
}
.group.technik .icon {
	background: url('../img/technik-white.png');
}
.group.technik .job {
	background: url('../img/pattern-technik-white.png') no-repeat;
	background-size: cover;
}
.group.psychologie .icon {
	background: url('../img/psychologie-white.png');
}
.group.psychologie .job {
	background: url('../img/pattern-psychologie-white.png') no-repeat;
	background-size: cover;
}
.group.marketing .icon {
	background: url('../img/marketing-white.png');
}
.group.marketing .job {
	background: url('../img/pattern-marketing-white.png') no-repeat;
	background-size: cover;
}
.job {
	display: table;
}
.job .quote {
	width: 40%;
	height: 250px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.job .title {
	width: 60%;
	height: 250px;
	background: #fff;
	display: table-cell;
	vertical-align: middle;	
}
.job .title:first-child {
	background: #eee;
}
.job .content {
	width: 80%;
	display: inline-block;
	margin: 0 10%;
	position: relative;
}
.job .title .content {
	padding-right: 80px;
}
.job .quote .content {
	width: 60%;
}
.job .arrow-down {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -30px;
}
.job .quote .content:before {
	content: "";
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	top: -30px;
	right: -30px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}
.job .quote .content:after {
	content: "";
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	bottom: -30px;
	left: -30px;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
}
.job .title h1 {
	font: 32px Existence;
	color: #676767;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.job .title p {
	font: 16px Lato; 
	color: #676767;
}
.job .quote p {
	font: 16px Lato;
	color: #000;
	line-height: 28px;
} 
.job .details {
	width: 100%;
	display: none;
}
.group.management .job .details {
	background: #f1b93f;
}
.group.design .job .details {
	background: #e45f5f;
}
.group.technik .job .details {
	background: #96dde8;
}
.group.psychologie .job .details {
	background: #96e8b7;
}
.group.marketing .job .details {
	background: #b996e8;
}
.job .details .detail {
	width: 50%;
	height: 300px;
	display: table-cell;
	background: rgba(255,255,255,0.25);
	vertical-align: middle;
	text-align: center;
	transition: 0.33s;
}
.job .row .video iframe {
	display: block;
}
.job .details .row:nth-child(odd) .detail:first-child, .job .details .row:nth-child(even) .detail:last-child {
	background: rgba(255,255,255,0.5);
}
.job .details .detail .toggle:last-child {
	display: none;
}
.job .details .detail:hover .toggle:last-child {
	display: inline-block;
}
.job .details .detail:hover .toggle:first-child {
	display: none;
}
.job .details .detail:hover {
	background: transparent!important;
}
.job .details .detail .toggle {
	display: inline-block;
	color: #333;
	font-family: Existence;
}
.job .details .detail .toggle {
	text-align: left;
}
.job .details .detail .toggle ul {
	padding-left: 20px;
	font-size: 16px;
}
.job .details .detail .toggle h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
.job .details .icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
}
.job .details .icon.bezeichnung {
	background-image: url('../img/bezeichnung.png');
}
.job .details .icon.studium {
	background-image: url('../img/studium.png');
}
.job .details .icon.aufgaben {
	background-image: url('../img/aufgaben.png');
}
.job .details .icon.kenntnisse {
	background-image: url('../img/kenntnisse.png');
}


.footer {
    margin:40px 0 10px;
    text-align:center;
    font-size:13px;
    line-height:15px;
}
.footer a {
    text-decoration: none;
    color:#333;
}

#footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 400px;
  width: 100%;
  background: url("../img/footer_background.png") no-repeat;
  background-size: cover;
  text-align: center;
}

#footer_content {
  width: 1024px;
  margin: 0px auto;
}

#footer_logo {
  float: left;
}

#footer_logo img {
  width:200px;
  margin-top:255px;
  margin-left:70px;
}

#footer_navi {
  float: right;
  margin-top: 309px;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  font: 16px Lato;
  font-weight: 700;
}

#footer_navi a {
  color: #fff;
  font: 16px Lato;
  text-decoration: none;
  font-weight: 400;
}

#footer-zusatz {
  position: absolute;
  left: 42%;
    margin-top: 45px;
  color: #fff;
  font: 15px Existence;
  text-transform: uppercase;
  font-weight: 400;
}
#footer-zusatz span {
  font-weight: 700;
}
