* {
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Lato', sans-serif;
	font-family: 'Poiret One', cursive;
	background: #ffffff;
	font-size: 16px;
	color: #151515;
	overflow-x: hidden;
}

.inside {
	width: 1024px;
	margin: 0 auto;
	padding: 4em 0;
	position: relative;
}

.container {
  width: 900px;
  margin: auto;
}

.nav {
  position: fixed;
  background: #fff;
  height: 80px;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav .logo {
  display: block;
  background: url('../img/logo.png') center center no-repeat;
  width: 230px;
  float: left;
  height: 107px;
  margin-top: -19px;
  background-color: white;
  padding-bottom: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px;
  -moz-box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
  box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
}

.nav ul {
  list-style: none;
  float: right;
}

.nav ul li {
  float: left;
  margin-left: 15px;
  line-height: 50px;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font: 18px Lato;
  font-weight: 300;
  color: #676767;
  padding: 10px 0;
}

.nav ul li a:hover {
  border-bottom: 3px solid #a2639f;
}

.nav ul li.active a {
  border-bottom: 3px solid #a2639f;
}

h1 {
	padding-top: 26%;
	text-align: center;
	font-size: 2em;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

h1 span {
	color:#a2639f;
}

p {
	font-size: 1.2em;
	line-height: 1.8em;
	text-align: center;
}

p strong {
	font-family: 'Poiret One';
	font-weight: 900;
	font-size: 1.4em;
}

#start {
	background-image: url("../img/strasse.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	width: 100%;
	height: 720px;
}

#time-area p {
	text-align: center;
}

.hintergrundText {
	width: 100%;
	height: 300px;
	background-image: url("../img/background.png");
	background-position: center;
  	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	text-align: center;
}

#internet p {
	font-size: 2em;
	color: #ffffff;
	margin-left: -25%;
}

#internet p + p {
	text-align: right;
}

#internet p strong {
	text-transform: uppercase;
	font-family: Lato;
	font-weight: 900;
	font-size: 1.1em;
}

h2 {
	position: relative;
	font-size: 4em;
	color: #a2639f;
	font-family: Lato;
	font-weight: 900;
	display: inline-block;
	margin-bottom: 0.25em;
}

h2:before,
h2:after {
	content:"";
	display: block;
	width: 0.25em;
	height: 0.25em;
	position: absolute;
	bottom: 0em;
	left: -0.125em;
	border: 1px solid #a2639f;
	border-top: 0;
	border-right: 0;
}

h2:after {
	top:0.05em;
	right: -0.125em;
	left: auto;
	border-top: 1px solid #a2639f;
	border-right: 1px solid #a2639f;
	border-left: 0;
	border-bottom: 0;
}

img.bild-links {
	position: absolute;
	top: 200px;
	left: -150px;
}

#uhr {
	margin: 0 auto;
	-webkit-transform-origin: top center;
    -webkit-animation: pendeln 10s infinite ease-in-out;
}

@-webkit-keyframes pendeln {
  0%	{ -webkit-transform: rotate(15deg);}
  50%	{ -webkit-transform: rotate(-15deg);}
  100%	{ -webkit-transform: rotate(15deg);}
}


img.bild-rechts {
	position: absolute;
	top: 100px;
	right: 0;
}

#time-area {
	margin-bottom: 3%;
}

#j-1964 img.bild-rechts {
top: 80px;
left: 750px;
}

#j-1964 p {
	font-size: 1.3em;
}

#j-1964 p +p {
	margin-left: -20%;
}

#j-1964 p strong {
	text-transform: uppercase;
}

#j-1964 p +p  +p {
	margin-left: 5%;
}

.jahreszahl {
	position: relative;
}


#Begriff-Internet {
	background-color: #eeeeee;
}

#Begriff-Internet p {
	text-align: center;
}

h3 {
	position: relative;
	font-family: Lato;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0.7em;
}

h3 strong {
	color: #9e459a;
	font-family: Poiret One;
	font-size: 1.4em;
}

#j-1969 p {
	text-align: center;
	padding-top:3%;
	padding-bottom: 20%;
	font-size: 1.2em;

}

#history {
	background-image: url("../img/laptop.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 450px;
}

#history p {
	color: #ffffff;
	text-align: center;
	font-size: 1.2em;
}

h4 {
	text-align: center;
	color: #ffffff;
	font-size: 1.5em;
	padding-bottom: 20px;
}

.icon{
	background-image: url("../img/questionmark.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
}

#j-1971 p {  margin-left: -15%; }
#j-1971 img { height: 250px; top: 35px; }

#quotation-five-computers { background-color: #eeeeee; }
#quotation-five-computers p { font-size: 2.5em; font-weight: 600; line-height: 1.2em; }
#quotation-five-computers p span { color: #9e459a; }
#quotation-person { font-size: 1.2em !important; font-style: italic; line-height: normal; text-align: right; font-weight: 400 !important; }
#quotation-first { width: 50px; position: absolute; left: 150px; top: 130px; }
#quotation-second { width: 50px; position: absolute; top: 50px; left: 820px; }


#j-1978 { background-image: url("../img/1978_background.png"); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; height: 350px; color: #ffffff; }
#j-1978 span { font-family: 'Lato'; font-size: 1.5em; font-weight: bold; text-transform: uppercase; }


#j-1980 span { font-family: 'Lato'; font-size: 1.5em; font-weight: bold; text-transform: uppercase; }
#j-1980 img { width: 150px; position: absolute; left: 750px; top: 100px; }

#erste-email {background-color: #eeeeee;}
#erste-email h3 span { font-family: 'Poiret One', cursive; font-size: 1.5em; color: #9e459a;}
#erste-email h3, #erste-email p { margin-left: 250px;}
#erste-email img { width: 250px; position: absolute; top: 35px; left: 100px; } 

#j-1989 { padding-bottom: 200px; }
#j-1989 span { font-family: 'Lato'; font-size: 1.5em; font-weight: bold; text-transform: uppercase; }
#j-1989 img { 
	width: 600px;
	position: absolute;
	top: 260px;
	padding-top: 30px;
} 

h5 { font-size: 1.8em; padding-bottom: 20px; }



#pc h5 {
	margin-left: 450px;
	margin-top: 100px;
	margin-bottom: 25px;
	text-align: left;
}

#pc p {
	margin-top: 25px;
}

#pc span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }

#pc img {
	width: 350px;
}
#pc {
	background-color: #fff;
	height: 600px;
}

.polaroid {
	position: absolute;
	width:350px;
	padding: 20px;
	background-color: #ffffff;
	z-index: 1;
}


#www { padding-top: 100px; }
#www p { padding-top: 100px;}
#www span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }
#www img { position: absolute; }
#www-1 { top: -80px; left: 300px; }
#www-2 { top: 90px; left: 320px; }
#www-3 { top: -20px; left: 570px; }

#riesenserver { background-image: url("../img/riesenserver-background.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; height: 350px; color: #ffffff; }

#j-1992 { height: 400px;}
#j-1992 h3, #j-1992 p { width: 550px; float: right; margin-top: 50px;}
#j-1992 img { width: 300px; position: absolute; left: 100px;	}

#j-1996-microsoft { background-color: #eeeeee; }
#j-1996-microsoft p {font-size: 1.5em;}
.textmarker-lila { color: #9e459a; font-size: 2em; font-weight: 700;}
.textmarker-grey { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }

#j-1996 span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }
#j-1996 p {width: 500px; margin-left: 100px;}
#j-1996 img { width: 200px; position: absolute; left: 650px; top: 37px;}

#j-1996-internetuser { background-image: url("../img/internetuser-background.png"); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; height: 350px; color: #ffffff; }
#j-1996-internetuser span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }

#virtuelles-land p { width: 500px; margin: 0 auto;}
#virtuelles-land span { color: #9e459a; font-weight: 700; font-size: 2em;}
#virtuelles-land-1 { width: 200px; position: absolute;}
#virtuelles-land-2 { width: 200px; position: absolute; left: 820px; top: 70px;}

#j-1996-viren { background-color: #eeeeee; }
#j-1996-viren p { width: 700px; margin: 0 auto;}

#j-1997 span { color: #9e459a; font-weight: 700; font-size: 2em;}
#j-1997 p { width: 500px; margin-left: 500px; margin-bottom: 32px;}
#j-1997 img { width: 350px; position: absolute; top: 85px; left: 130px;}

#illegaler-download { background-image: url("../img/illegaler-download-background.png"); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; height: 420px; color: #ffffff; }
#illegaler-download span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }


#internet-love {
	padding-top:5%;
	padding-bottom: 5%;
}
#internet-love span { color: #9e459a; font-weight: 700; font-size: 2em;}
#internet-love p { width: 730px; }
#internet-love img { width: 250px; position: absolute; top: 80px; left: 800px; }

#j-2000 {
	background-color: #eeeeee;
	padding-top: 5%;
	padding-bottom: 5%;}

#j-2001 p {width: 600px;}
#j-2001 img { width: 250px; position: absolute; left: 700px; } 

#strom { background-image: url("../img/strom-background.png"); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; height: 420px; color: #ffffff; }

h6 { font-family: 'Lato'; font-weight: 300; font-size: 2em; text-align: center; line-height: 2em;}

#j-2004 span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }

#j-2004-fb {background-color: #eeeeee;}
#j-2004-fb p, #j-2004-fb h5 { margin-left: 450px; margin-top: 25px; margin-bottom: 25px; text-align: left;}
#j-2004-fb p { width: 470px; margin-top: 180px;}
#j-2004-fb img { width: 300px; position: absolute;}
img#thumbsup { width: 120px; position: absolute; left: 600px; } 

#google-suchbegriffe { background-image: url("../img/google-suchbegriffe.png"); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; height: 350px; color: #ffffff; }
#google-suchbegriffe span { font-family: 'Lato'; font-size: 1.2em; font-weight: bold; text-transform: uppercase; }

#begriff-spam {
	background-color: #eeeeee;	
}

#begriff-spam h3 {
	font-family: 'Lato';
	font-size: 2em;
	font-weight:200;
	padding-top: 5%;
	padding-bottom: 5%;
}

#begriff-spam h3 strong{
	font-weight: 900;
}

#begriff-spam iframe {
	padding-bottom: 5%;
	width: 480px;
	height: 360px;
	margin-left: 300px;
}

/*---------------Footer----------------------------------*/
.footer {
    margin:40px 0 10px;
    text-align:center;
    font-size:13px;
    line-height:15px;
}
.footer a {
    text-decoration: none;
    color:#333;
}

#footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 400px;
  width: 100%;
  background: url("../img/footer_background.png") no-repeat;
  background-size: cover;
}

#footer_content {
  width: 1024px;
  margin: 0px auto;
}

#footer_logo {
  float: left;
}

#footer_logo img {
  width:200px;
  margin-top:255px;
  margin-left:70px;
}

#footer_navi {
  float: right;
  margin-top: 309px;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  font: 16px Lato;
  font-weight: 700;
}

#footer_navi a {
  color: #fff;
  font: 16px Lato;
  text-decoration: none;
  font-weight: 400;
}

#footer-zusatz {
  position: absolute;
  left: 42%;
  margin-top: 45px;
  color: #fff;
  font: 15px Existence;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
#footer-zusatz span {
  font-weight: 700;
}



