@font-face { 
	font-family: "Lato"; 
	src: url("../fonts/Lato-Light.ttf"); 
}
@font-face { 
	font-family: "Existence"; 
	src: url("../fonts/Existence-Light.ttf"); 
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body {
	background: #eee;
	padding-top: 80px;
}

/* ==============Menu ==================== */

.container {
  width: 900px;
  margin: auto;
}
.container:after, .job:after, .row:after {
  display: block;
  content: "";
  clear: both;
}

.nav {
  position: fixed;
  background: #fff;
  height: 80px;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 100;
}
.nav .logo {
  display: block;
  background: url('../img/logo.png') center center no-repeat;
  width: 275px;
  height: 75px;
  float: left;
  margin-top: -12px;
}
.nav ul {
  list-style: none;
  float: right;
}
.nav ul li {
  float: left;
  margin-left: 15px;
  line-height: 50px;
}
.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font: 18px Lato;
  font-weight: 300;
  color: #676767;
  padding: 10px 0;
}
.nav ul li a:hover {
  border-bottom: 3px solid #a2639f;
}



/* ============== Styles ==================== */

h1 {
  font: 600 28px/36px Lato;
  margin: 50px 0  30px 0px;
}

h2 {
  font: 600 18px/24px Lato;
  color: #999;
  margin: 30px 0 10px;
}

a {
  color: #222;
}

p {
  font: 18px Lato;
  color: #676767;
  margin-bottom: 40px;
}

#content {
  width: 900px;
  margin: 0 auto;
}



/* ============== Header, Footer & Menu ==================== */

.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #430e39;
    z-index: 10000;
    height: 220px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.cbp-af-header .cbp-af-inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    position:relative;
    height:100%;
}
.cbp-af-header h1 {
  background-color: #FFFFFF;
  border-radius: 100%;
  color: #be4b97;
  font-size: 43px;
  font-weight: normal;
  height: 220px;
  left: 50%;
  margin: 30px 0 0 -110px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  padding-top:60px;
  border:3px solid #be4b97;
  line-height:50px;
}
.cbp-af-header nav {
    left: 50%;
    margin: 0 0 0 -35%;
    position: fixed;
    text-align: center;
    top: 225px;
    width: 70%;
}
.cbp-af-header nav .emptyMenu {
    display: block;
    float: left;
    height: 30px;
    width: 28%;
}
.cbp-af-header nav a {
    color: #be4b97;
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    width: 18%;
}
.cbp-af-header nav a:hover {
    color: #333;
}
.cbp-af-header h1,
.cbp-af-header nav {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.cbp-af-header.cbp-af-header-shrink {
    height: 130px;
}
.cbp-af-header.cbp-af-header-shrink nav {
  top:50px;
}
.cbp-af-header.cbp-af-header-shrink nav a {
  color: #ffffff;
}
.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 23px;
  border-radius: 55px;
  color: #be4b97;
  font-weight: normal;
  height: 110px;
  left: 50%;
  margin: 10px 0 0 -55px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 110px;
  padding-top:30px;
  border:3px solid #be4b97;
  line-height:25px;
}
a#pull {
    display:none;
}
.footer {
    margin:40px 0 10px;
    text-align:center;
    font-size:13px;
    line-height:15px;
}
.footer a {
    text-decoration: none;
    color:#333;
}

#footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 400px;
  width: 100%;
  background: url("../img/footer_background.png") no-repeat;
  background-size: cover;
}

#footer_content {
  width: 1024px;
  margin: 0px auto;
}

#footer_logo {
  float: left;
}

#footer_logo img {
  width:400px;
  margin-top:240px;
  margin-left:18px;
}

#footer_navi {
  float: right;
  margin-top: 309px;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  font: 16px Lato;
  font-weight: 700;
}

#footer_navi a {
  color: #fff;
  font: 16px Lato;
  text-decoration: none;
  font-weight: 400;
}

#footer-zusatz {
  position: absolute;
  left: 42%;
    margin-top: 45px;
  color: #fff;
  font: 15px Existence;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
#footer-zusatz span {
  font-weight: 700;
}

#icons{
  float: left;
  position: relative;
  left: 50%;
  top: 20%;
  padding-bottom:130px;
}

.naviItem{
  width: 190px;
  height: 100px;
  margin-right:26px;
  position:relative;
  float:left;
  left: -50%;
  font: 14px Lato;
  color: #676767;
  text-align: center;
}
.naviItem span{
  font: 18px Existence;
  color: #676767;
  line-height: 150%;
}
.naviItem span:hover{
  font: 18px Existence;
  font-weight: 700;
  color: #9e459a;
  line-height: 150%;

}
.naviItemLast{
  width: 190px;
  height: 100px;
  position:relative;
  float:left;
  left: -50%;
  margin: 0px;
  font: 14px Lato;
  color: #676767;
  text-align: center;
}

.naviItemLast span{
  font: 18px Existence;
  color: #676767;
  line-height: 150%;
}
.naviItemLast span:hover{
  font: 18px Existence;
  font-weight: 700;
  color: #9e459a;
  line-height: 150%;

}

.naviIcon1{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/icon_faszinationweb.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItem:hover .naviIcon1{
  background-image: url("../img/icon_faszinationweb_hover.png");
}

.naviIcon2{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/Icons_Startseite_Agentur_5.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItem:hover .naviIcon2{
  background-image: url("../img/Icons_Startseite_Agentur_4_Hover.png");
}
.naviIcon3{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/icon_berufe.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItem:hover .naviIcon3{
  background-image: url("../img/icon_berufe_hover.png");
}
.naviIcon4{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/icon_video.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItemLast:hover .naviIcon4{
  background-image: url("../img/icon_video_hover.png");
}
.naviIcon img{
  height: 100%;
}
.scroller {
  width: 100%;
  float: left;
}

.naviText {
  margin-top: 5px;
}



.clear{
  clear:both;
}