* {margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* ==============Menu ==================== */

body {
    overflow-x: hidden;
}

.container {
  width: 900px;
  margin: auto;
}
.container:after, .job:after, .row:after {
  display: block;
  content: "";
  clear: both;
}

.nav {
  position: fixed;
  background: #fff;
  height: 80px;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 100;
}
.nav .logo {
  display: block;
  background: url('../img/logo.png') center center no-repeat;
  width: 230px;
  float: left;
  height: 107px;
  margin-top: -19px;
  background-color: white;
  padding-bottom: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px;
  -moz-box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
  box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
}
.nav ul {
  list-style: none;
  float: right;
}
.nav ul li {
  float: left;
  margin-left: 15px;
  line-height: 50px;
}
.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font: 18px Lato;
  font-weight: 300;
  color: #676767;
  padding: 10px 0;
}
.nav ul li a:hover {
  border-bottom: 3px solid #a2639f;
}
.nav ul li.active a {
  border-bottom: 3px solid #a2639f;
}





/* ============== Reset css styles ==================== */


html {
  background-image: url("../img/pattern-index.png");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  }

  @font-face { 
  font-family: "Lato"; 
  src: url("../fonts/Lato-Light.ttf"); 
}
@font-face { 
  font-family: "Existence"; 
  src: url("../fonts/Existence-Light.ttf"); 
}

body {
  color: #333;
  font: 14px/24px sans-serif;
  margin: 0 auto;
  max-width: 100%;
  _width: 100%;
  padding: 0px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  }

#wrapper {
  /*width: 900px;*/
  margin: 0 auto;
  }

h1 {
  font: 600 28px/36px sans-serif;
  margin: 50px 0;
  }

h3 {
  font: 600 18px/24px sans-serif;
  color: #999;
  margin: 0 0 20px;
  }

a {
  color: #222;
  }


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
a, 
a:hover, 
a:visited {
    outline:none;
}
strong {
    font-weight:700;
}
p {
    margin:0 0 10px 0;
}
h2 {
    text-align:center;
    margin:0px auto;
    padding-top:100px;
    height:250px;
}
.wrap {
    width:1140px;
}
.right {
    float:right;
    margin-left:80px;
    text-align:left;
}
.left {
    float:left;
    margin-right:80px;
    text-align:right;
}
.circle{
    border-radius:100%;
    border:5px solid #dfdfdf;
}
.orange {
    color:#be4b97;
}
.wraptitle {
    position:relative;
    height:250px;
}
.anchor:before {
    content:"";
    display:block;
    height:160px;
    margin:-86px 0 0; 
}

/* ============== MAIN ==================== */
#about-title, 
#blog-title, 
#contact-title {
    height:250px;
    color:white;
    border-bottom:5px solid #be4b97;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#about-title {
    background-color:black;
}
#blog-title {
    background:#484746;
}
#contact-title {
    background-color:#430e39;
}
#about, 
#blog, 
#contact {
    margin:80px auto 0;
    overflow:hidden;
}
#about p {
    margin-top:80px;
}
#contact p {
    padding:0 20px;
    width:50%;
    margin:0 0 80px;
}
#welcome {
    margin:400px auto 80px;
    text-align:center;
    font-size:30px;
    font-style: italic;
    font-weight:600;
    color:#666;
}
.blog-item {
    width:22%;
    margin-right:4%;
    float:left;
    text-align:center;
}
.blog-item.last {
    margin-right:0;
}
.blog-item img {
    width:90%;
}
.blog-item .title {
    font-weight:600;
    color:#be4b97;
}
.blog-item .info {
    font-weight:400;
    color:#333;
    font-size:14px;
    line-height:23px;
    margin-bottom:20px;
}
.readmore {
    background:transparent url('../img/readmore.png') 0 0 no-repeat;
    height:26px;
    width:125px;
    display:block;
    font-size:14px;
    color:#333;
    text-decoration:none;
    margin:0 auto;
    padding:0 5px 0 30px;
    line-height:26px;
}
.readmore:hover {
    background:transparent url('../img/readmore-hover.png') 0 0 no-repeat;
    color:#fff;
}

/* ============== Pop up box ==================== */
.popupbox {
    width:100%;
    display: none;
}
.popupbox img {
    max-width:50%;
    margin-left:20px;
}
.popupbox h3 {font-weight:600;
    font-size:24px;
    color:#be4b97;
    margin:0 0 20px 0;
}
.popupbox p {
    font-size:14px;
    line-height:22px;
    font-weight:400;
}


/* ============== Header, Footer & Menu ==================== */
.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #430e39;
    z-index: 10000;
    height: 220px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.cbp-af-header .cbp-af-inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    position:relative;
    height:100%;
}
.cbp-af-header h1 {
	background-color: #FFFFFF;
	border-radius: 100%;
	color: #be4b97;
	font-size: 43px;
	font-weight: normal;
	height: 220px;
	left: 50%;
	margin: 30px 0 0 -110px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 220px;
	padding-top:60px;
	border:3px solid #be4b97;
	line-height:50px;
}
.cbp-af-header nav {
    left: 50%;
    margin: 0 0 0 -35%;
    position: fixed;
    text-align: center;
    top: 225px;
    width: 70%;
}
.cbp-af-header nav .emptyMenu {
    display: block;
    float: left;
    height: 30px;
    width: 28%;
}
.cbp-af-header nav a {
    color: #be4b97;
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    width: 18%;
}
.cbp-af-header nav a:hover {
    color: #333;
}
.cbp-af-header h1,
.cbp-af-header nav {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.cbp-af-header.cbp-af-header-shrink {
    height: 130px;
}
.cbp-af-header.cbp-af-header-shrink nav {
	top:50px;
}
.cbp-af-header.cbp-af-header-shrink nav a {
	color: #ffffff;
}
.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 23px;
	border-radius: 55px;
	color: #be4b97;
	font-weight: normal;
	height: 110px;
	left: 50%;
	margin: 10px 0 0 -55px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 110px;
	padding-top:30px;
	border:3px solid #be4b97;
	line-height:25px;
}
a#pull {
    display:none;
}
.footer {
    margin:40px 0 10px;
    text-align:center;
    font-size:13px;
    line-height:15px;
}
.footer a {
    text-decoration: none;
    color:#333;
}

#footer {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 400px;
  width: 100%;
  background: url("../img/footer_background.png") no-repeat;
  background-size: cover;
}

#footer_content {
  width: 1024px;
  margin: 0px auto;
}

#footer_logo {
  float: left;
}

#footer_logo img {
  width:200px;
  margin-top:255px;
  margin-left:70px;
}

#footer_navi {
  float: right;
  margin-top: 309px;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  font: 16px Lato;
  font-weight: 700;
}

#footer_navi a {
  color: #fff;
  font: 16px Lato;
  text-decoration: none;
  font-weight: 400;
}

#footer-zusatz {
  position: absolute;
  left: 42%;
    margin-top: 45px;
  color: #fff;
  font: 15px Existence;
  text-transform: uppercase;
  font-weight: 400;
}
#footer-zusatz span {
  font-weight: 700;
}

#icons{
  float: left;
  position: relative;
  left: 50%;
  top: 20%;
  padding-bottom:130px;
}

.naviItem{
  width: 190px;
  height: 100px;
  margin-right:26px;
  position:relative;
  float:left;
  left: -50%;
  font: 14px Lato;
  color: #676767;
  text-align: center;
}
.naviItem span{
  font: 18px Existence;
  color: #676767;
  line-height: 150%;
}
.naviItem span:hover{
  font: 18px Existence;
  font-weight: 700;
  color: #9e459a;
  line-height: 150%;

}
.naviItemLast{
  width: 190px;
  height: 100px;
  position:relative;
  float:left;
  left: -50%;
  margin: 0px;
  font: 14px Lato;
  color: #676767;
  text-align: center;
}

.naviItemLast span{
  font: 18px Existence;
  color: #676767;
  line-height: 150%;
}
.naviItemLast span:hover{
  font: 18px Existence;
  font-weight: 700;
  color: #9e459a;
  line-height: 150%;

}

.naviIcon1{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/icon_faszinationweb.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItem:hover .naviIcon1{
  background-image: url("../img/icon_faszinationweb_hover.png");
}

.naviIcon2{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/Icons_Startseite_Agentur_5.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItem:hover .naviIcon2{
  background-image: url("../img/Icons_Startseite_Agentur_4_Hover.png");
}
.naviIcon3{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/icon_berufe.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItem:hover .naviIcon3{
  background-image: url("../img/icon_berufe_hover.png");
}
.naviIcon4{
  width:100px;
  height: 100px;
  text-transform: uppercase;
  background-image: url("../img/icon_video.png");
  background-repeat: no-repeat;
  margin-left: 45px;
}
.naviItemLast:hover .naviIcon4{
  background-image: url("../img/icon_video_hover.png");
}
.naviIcon img{
  height: 100%;
}
.scroller {
  width: 100%;
  float: left;
}

.naviText {
  margin-top: 5px;
}



.clear{
  clear:both;
}
/* ============= Slider =============== */


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


  .rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 80px;

  }

.rslides1_nav {
    background: url("../img/themes.gif") no-repeat scroll left top transparent;
    height: 61px;
    left: 35px;
    margin-top: -45px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 50%;
    width: 38px;
    z-index: 99;
  }

.rslides1_nav:active {
  opacity: 1.0;
  }

.rslides1_nav.next {
  left: auto;
  background-position: right top;
  right: 35px;
  }

.rslides2_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.rslides2_nav.next {
  left: auto;
  right: 0;
  }

.rslides3_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.rslides3_nav:active {
  opacity: 1.0;
  }

.rslides3_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }

.rslides_tabs {
  margin-top: 10px;
  text-align: center;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.rslides_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslides_tabs .rslides_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

.job {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 10px 0 0 20px;
  text-align: left;
  background: #FFFFFF;
  background: rgba(255, 255,255, .6);
  color: #9e459a;
  font: 30px Existence;
  text-transform: uppercase;
  font-weight: 700;
  height: 55px;
  margin-top: 20px;
  width: 390px;
}  

.caption {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px;
  text-align: center;
  background: #FFFFFF;
  background: rgba(255, 255,255, .6);
  color: #676767;
  font: 18px Existence;
  font-weight: 700;
  margin-bottom: 70px;
  line-height: 5px;
  height: 130px;
}

p.caption {
  padding: 30px 0;
}

.caption b {
 font: 28px Existence; 
 font-weight: 700;
 color: #9e459a;
}
.caption span {
font: 14px Lato;
font-style: italic;
color: #676767;
}

/* ============== Parallax image backgounds ==================== */
.js-background-1 {
    background: transparent url('../img/about-bg.png') 10% 150px no-repeat;
}
.js-background-2 {
    background: transparent url('../img/blog-bg.png') 10% 150px no-repeat;
}
.js-background-3 {
    background: transparent url('../img/contact-bg.png') top center repeat;
}
 
/* ============== Responsive Media Queries ==================== */
@media screen and (max-width: 1139px) {
    .wrap {
        width:100%;padding:0 20px;
    }
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
    .blog-item {
        width:48%;
        margin-right:2%;
        margin-bottom:40px;
    }
}

@media only screen and (max-width : 767px) {  
    .left {
        float:none;margin:0;
    }
    .right {
        float:none;margin:0;
    }
    .cbp-af-header nav {
        transition:none;
        width:100%;
        margin:0;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        height:auto;
        display:none;
        box-shadow:2px 2px 3px #666;
        background:#fff;
        padding:0 15px 0 60px;
    }
    .cbp-af-header nav a {
        margin:0;
        display: none;
        float:left !important; 
        padding:0;
        line-height:50px;
        height:auto;
        width:25%;
        text-align: center;
        font-size:18px;
    }  
    .cbp-af-header nav .emptyMenu {
        display:none;
    }
    a#pull {
        background: url('../img/nav-icon.png') 0 0 no-repeat;
        display: block;
        height: 40px;
        left: 7px;
        position: absolute;
        top: 7px;
        width: 40px;
    }
    a#pull:after {  
        content:"";  
        display: inline;  
    }  
    .cbp-af-header h1 {
        height: 180px;
        margin: 60px 0 0 -90px;
        width: 180px;
        padding-top: 47px;
        font-size: 40px;
    }
    .cbp-af-header.cbp-af-header-shrink nav {
        top:0;
    }
    .cbp-af-header.cbp-af-header-shrink nav a {
        color:#be4b97;
    }
    #about {
        text-align:center;
    }
    img.circle {
        max-width:90%;
    }
    .blog-item {
        width:100%;
        margin-right:0;
        float:none;
    }
    #contact p {
        width:100%;text-align:left;
    }
}