@font-face { 
	font-family: "Lato"; 
	src: url("../fonts/Lato-Light.ttf"); 
}
@font-face { 
	font-family: "Existence"; 
	src: url("../fonts/Existence-Light.ttf"); 
}

html {
  background-image: url("../img/pattern-index.png");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  }

/*
body {
  color: #333;
  font: 14px/24px sans-serif;
  margin: 0 auto;
  max-width: 60%;
  padding: 0 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
	float: left;
  	width: 100%;
  	margin-bottom: 50px;
  	padding-top: 50px;
}*/

/*MENU*/

.container {
	width: 900px;
	margin: auto;
}
.container:after, .job:after, .row:after {
	display: block;
	content: "";
	clear: both;
}

.nav {
	position: fixed;
	background: #fff;
	height: 80px;
	padding: 15px 0;
	top: 0;
	z-index: 100;
}
.nav .logo {
  display: block;
  background: url('../img/logo.png') center center no-repeat;
  width: 230px;
  float: left;
  height: 107px;
  margin-top: -19px;
  background-color: white;
  padding-bottom: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px;
  -moz-box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
  box-shadow: 0px 0px 30px 0px rgba(133,133,133,1);
}
.nav ul {
	list-style: none;
	float: right;
}
.nav ul li {
	float: left;
	margin-left: 15px;
	line-height: 50px;
}
.nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font: 18px Lato;
	color: #676767;
	padding: 10px 0;
}
.nav ul li a:hover {
  border-bottom: 3px solid #a2639f;
}
.nav ul li.active a {
  border-bottom: 3px solid #a2639f;
}




/*VIDEO*/

/*#content{
	width: 900px;
	height: 100%;
	background-color:#eeeeee;
	float: left;
	left:0px;
	right: 0px;
	margin-top: 80px;
}*/

table {
	margin: 0 auto;
	margin-bottom: 150px;
	margin-top: 150px;
}

#videosMosaik{
	/*width: 900px;*/
	height: 100%;
	/*margin: 0 auto;*/
	/*margin-top: 120px;*/
	display: block;
	left: auto;
	right: auto;
}

.mosaik_video {
	width: 220px; 
	height: 150px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
.mosaik_rubrik {
	width: 220px; 
	height: 150px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	background-color: #FFFFFF;
}
.mosaik_video a {
	font: 18px Lato;
	color: #999999;
	text-decoration: none;
	width: 220px; 
	height: 150px;
	float: left;
}
.mosaik_rubrik a {
	font: 18px Lato;
	color: #999999;
	text-decoration: none;
	width: 220px; 
	height: 150px;
	float: left;
}

.video {


}

.rubrik {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	position: relative;
	text-align: center;
	margin-top: 5%;
}

.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.responsive-video {
	position: relative;
	padding-bottom:  56.25%;
	padding-top:  0px;
	height: 0;
	overflow: hidden;
	margin-top: 120px;
}

.mosaik_video .toggle:last-child {
	display: none;
}

.mosaik_video:hover .toggle:last-child {
	display: inline-block;
}
.mosaik_video:hover .toggle:first-child {
	display: inline-block;
	background-color: black;
	opacity: 0.2;
	width: 200px;
	height: 150px;
	float: left;
}

.mosaik_video .toggle h3 {
	display: inline-block;
	font-family: Existence;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	color: #333333;
	margin:-80px 15px 15px 15px;
	z-index: 99999;
}


